@tailwind base;
@tailwind components;
@tailwind utilities;

.grayscale {
  filter: opacity(0.5);
}
.boxshadow{
  box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;;
}
.customInput {
  @apply w-full rounded-[4px] h-[40px] border-[2px] focus-visible:outline-none bg-bg border-[#2f4553] hover:border-[#557086] focus-visible:border-[#557086]  shadow-custom   text-[#eee] caret-[#eee];
}
input::-ms-reveal {
  filter: invert(60%);
}

body, html{
  overflow: hidden;
  font-family: 'Open Sans',sans-serif;
  color: #eee;
}
.ds{
  font-family: "Dancing Script";
}


*{
  scrollbar-color: #2f4553 transparent;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(15 33 46) inset !important;

  -webkit-text-fill-color: #eee;
}
@keyframes width100To0Animation {
  0% { width: 100%; }
  100% { width: 0%; }
}
.animate-width-3s {
  animation: width100To0Animation 3s ease-in-out;
}
@keyframes rotateY180 {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.rotate-y180 {
  animation: rotateY180 1s linear ;
}